// Place all the styles related to the users::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.about{
    background-color: #2F3751;
    width: 100%;
    height: 30px;
    margin:0px;
    p{
        display: inline-block;
    }
    h6{
        color:white;
        margin:0px;
    }
    i{
        size:100px;
    }
}
.profile_box{
    display:flex;
    width:100%;
}
// .profile_detail table {
    //     height: 270px;
//     width:100%;

// }
.profile{
    width:40%;
    border: thin solid #2F3751;
    height:400px;
}
.profile_detail{
    width:60%;
    table{
        width:100%;
        height:400px;
    }
   
}

// .profile{
    //     .profile_box{
        //     height: 270px;
        //     }
        //     .col-xs-5{
//         padding-right:0;
//     }
//     .col-xs-7{
    //         padding-left:0;
    //     }
// }

.index_photo{
    display:flex;
    &_wrapper {
        display: flex;
        padding-left:40%;
        p{
            margin:15px 0 0 10px ;
        }
    }
    &_follow_form{
        margin:15px;
    }
}
.photo_profile{
    margin:20px;
}
.mypage_detail{
    height:100%;

    text-align: left;
    &__parchase{
        height:20%;
        background-color: #2F3751;
        padding:10%;
    }
    &__favorites{
        height:20%;
        margin:10px 0;
        padding:10%;
        background-color: #2F3751;
    }
    &__orders_button{
        height:50%;
        margin-top:10px;
        padding:10%;
        background-color:#2F3751;
    }
    &__orders_info{
    border:1px solid #2F3751;
    height:120px;
    }
}
// .mypage_box{
//     padding-bottom:200px;
// }