/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @media screen { #filename { display: none; } }
 .wrapper{
    min-height: 100vh;
    position: relative;
    padding-bottom: 120px;
    box-sizing: border-box;
    font-family: 'Osaka';
}

footer{
    width: 100%;
    background-color: #2e2e2e;
    color: #fff;
    text-align: center;
    height:100px;
    .row{
        padding:10px;
        text-align: left;

    }

 position: absolute;
    bottom: 0;
}
body{
    background-color: rgb(230, 230, 230);
}
 .jumbotron-extend {
    height: 30vh;
    min-height: 100px;
    margin-bottom: 60px;
    background-image: image-url("backgroundimage.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}
.jumbotron-container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}

.jumbotron-container {
    .nav-item{
    color:rgb(52, 52, 52);
    }
}
.field{
    margin-top:10px;
}
// .container-fluid{
//     background-color:lightgray;
// }
.opacity{
    opacity: 70%;
}
.padding_margin_0 {

    margin:0px;
    padding:0px;
}
.photo_wrapper{
    padding:10px;

}

.index_photo{
    display:flex;
    &_wrapper {
        display: flex;
        padding-left:35%;
        p{
            margin:15px 0 0 10px ;
        }
    }
    &_follow_form{
        margin:15px;
    }
}

.photo_profile{
    margin:20px;
}
// .cart_item {
    
//     width:100%;
    
//    &__box{
//     width:50%;
//     display: flex;
//    }
// }
.cart_item_table tr td {
    border-top: #000 1px solid;
    border-bottom: #000 1px solid; 
  
  tr:first-child td {
    border-top: none;
    border-bottom: none; }
  
    tr:last-child td {
    border-top: none;
    border-bottom: none; }
}
tr td{
    border:solid 1px black;
}
.cart_item_header{
    background-color: rgb(131, 131, 131);
}
.cart_item_table {
    width:100%;
    th{
    text-align:center;
    }
    td{
        text-align:center;
    }
}
.follow_view{
   display:block;
   margin-left:40%;
   margin-top:10px;
    &_detail{
        display:flex;
        width:30%;
    }
    &_form{
        margin:10px 0 0 10px;
    }
}
.user_index{
    display:flex;
    width:100%;
    &_box{
        width:50%;
    }
}
// .recommend_photographer{
//     width:100%;
//     display:flex;
//     justify-content: center;
//     flex-wrap:wrap;
// }
// .photo_index_view{
//     background-color: cadetblue;
//     width:30%;
//     margin:1%;
//     height:
// }
// パターン２
//  .recommend_photographer{
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     grid-auto-rows: auto;
//     grid-gap: 1%;
//     padding: 1% 3%;
//     }
//     .photo_index_view{
//         background-color: cadetblue;
//         background-size: cover;
//         background-position: center;
//         background-repeat: no-repeat;
//         &::before {
//           content: "";
//           display: block;
//           padding-top: 100%;
//           .image{
//               width:100%;
//               padding-top: 100%;
//           }
//     }
// }
// パターン３
.recommend_photographer{
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.photo_index_view{
    position: relative;
    width: 31%;
    margin:1% 1% 0 1%;
    
    :before{
        content: "";
        display: block;
        padding-top: 100%;
      }
}
.image_index{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    object-fit: cover;
  }
  .photo_like{
      display: flex;

  }
  .photo_title_caption{
      margin:10px;
  }
  .show_details_of_image{
     width:100%;
     .row{
         background-color: rgb(211, 211, 211);
         margin:20px 0 10px 10px;
         box-shadow: 1px 1px 1px;
     }
  }
  .follow_view_detail{
      display: flex;
  }
    .address_text{
        color: red;
    
  }

  .cart_item_table{
      margin-top:10px;
  }
  .buyer_details{
      td{
          padding-left:10px;
      }
  }