/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @media screen { #filename { display: none; } }

 .jumbotron-extend {
    height: 30vh;
    min-height: 100px;
    margin-bottom: 60px;
    background: url(20170623_1814.jpg) no-repeat center center;
    background-size: cover;
}
.jumbotron-container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}
.container-fluid.jumbotron-container {
    .nav-item{
    color:white;
    }
}
.field{
    margin-top:10px;
}
.container-fluid{
    background-color:lightgray;
}
.opacity{
    opacity: 70%;
}
.padding_margin_0 {

    margin:0px;
    padding:0px;
}
.photo_wrapper{
    margin:10px;

}
.profile{
    padding:10px 80px;
}
.photo_profile{
    min-height:100px
}
.mypage_detail{
    height:300px;

    text-align: left;
    &__parchase{
        height:20%;
        background-color: #2F3751;
        padding:10px 0 10px 10px;
    }
    &__favorites{
        height:20%;
        margin:10px 0;
        padding:10px 0 10px 10px;
        background-color: #2F3751;
    }
    &__orders_button{
        height:50%;
        margin-top:10px;
        padding:10px 0 10px 10px;
        background-color:#2F3751;
    }
    &__orders_info{
    border:1px solid #2F3751;
    height:120px;
    }

}
.about{
    background-color: #2F3751;
    width: 100%;
    height: 30px;
    margin:0px;
    padding:10px;
    p{
        display: inline-block;
    }
    h5{
        color:white;
        margin:0px;
    }
    i{
        size:100px;
    }
}

.profile_detail table {
    height: 270px;
    width:100%;
    
}
.profile_detail i{
    padding:10px
}
.profile{
    width:100%;
    padding:10px 80px;
    border: thin solid #2F3751;
}
.profile_box{
  
    .profile{
    height: 270px;
    }
    .col-xs-5{
        padding-right:0;
    }
    .col-xs-7{
        padding-left:0;
    }
}
.index_photo_wrapper {
    display: flex;
    width:100%;
    padding-left:50%;
    p{
        margin:10px 0 0 100px ;
        
    }
}
.photo_profile{
    margin:20px;
}
.recommend_item_each{
    width:100%;
}
// .cart_item {
    
//     width:100%;
    
//    &__box{
//     width:50%;
//     display: flex;
//    }
// }
.cart_item_table tr td {
    border-top: #000 1px solid;
    border-bottom: #000 1px solid; 
  
  tr:first-child td {
    border-top: none;
    border-bottom: none; }
  
    tr:last-child td {
    border-top: none;
    border-bottom: none; }
}
tr td{
    border:solid 1px black;
}
.cart_item_header{
    background-color: lightgreen;
}
.cart_item_table {
    width:100%;
    th{
    text-align:center;
    }
    td{
        text-align:center;
    }
}