<div class="about_view">
    <div class="about_view_about_picsell">
        <h3>ABOUT PICSELL</h3>
        <p>ー　写真に価値を　ー</p>
        <p>写真を通じて生活を豊にすることをテーマに写真家とあなたを繋ぐプラットフォームです</p>
    </div>
    <div class="about_view_detail">
        <div class="about_view_how_to_use">
        <div class="row">
            <h5>HOW TO USE</h5>
            <div class="col-xs-4 col-xs-offset-2">
            <h4>販売</h4>
                <p>まずはあなたの写真を出品しよう</p>
                 <p>↓</p>
                <p>あとは売れるのを待つだけ</p>
                <p>↓</p>
                <p>売れたら指定のサイズにプリントして発送</p>
                <p>↓</p>
                <p>購入者が受け取り次第取引終了</p>
            </div>
            <div class="col-xs-4 ">
            <h4>購入</h4>
              <p>気に入った写真を選ぼう</p>
                 <p>↓</p>
                <p>カートに入れて購入へ</p>
                <p>↓</p>
                <p>支払いが終わったら届くのを待つだけ</p>
                <p>↓</p>
                <p>受け取り評価をして取引終了</p>
            </div>
            </div>
        </div>
    </div>
    <div class="about_view_function">
        <div class="function_box">
            <h5><i class="far fa-heart"></i> いいね</h5>
            <p>お好きな写真をいいね出来、マイページから一覧で確認できます。</p>
        </div>
        <div class="function_box">
            <h5><i class="far fa-handshake"></i> フォロー</h5>
            <p>気に入ったユーザーのことをフォロー出来ます。</p>
        </div>
        <div class="function_box">
            <h5><i class="fas fa-hashtag"></i> ハッシュタグ</h5>
            <p>関連する写真を探す際にお使いください。</p>
        </div>
        <div class="function_box">
            <h5><i class="fas fa-search"></i> 検索</h5>
            <p>キーワードを入力するだけで該当写真が全て出てきます。</p>
        </div>
        <div class="function_box">
            <h5><i class="fas fa-crown"></i> ランキング表示</h5>
            <p>いいねを押された件数順番で表示されます。</p>
        </div>
        <div class="function_box">
            <h5><i class="fas fa-mask"></i> 匿名出品</h5>
            <p>取引者同士にしか氏名は表記されません.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5 col-xs-offset-1">
            <div class="about_view_info">
                <h4></h4>
                <p>SNSなどの発展により写真を共有する場が増えてきました。</p>
                <p>いままで訪れたことのない場所に行ってみたり</p>
                <p>普段の何気ない生活も写真に残したり</p>
                <p>今まで以上に写真文化は身近になったのではないでしょうか</p>
                <p>PICSELLの目的は写真というものをより身近にすることです。</p>
                <p>あなたは撮った写真をどのように生かしていますか？</p>
                <p>ただただデータとして保存されてはいませんか？</p>
                <p>写真には様々な価値があります</p>
                <p>人々を感動させたり、</p>
                <p>その空間に行ってみたくなったり</p>
                <p>多くの影響を与えることができます。</p>
                <p>共有することができる場をつくることで、</p>
                <p>それらが持つ真価を見出すことができると考えています</p>
                <p>まずはあなたの写真を共有してみませんか？</p>
            </div>
        </div>
        <div class="col-xs-5">
            <div class="about_view_image">
                <div class="image_box">
                    <%= image_tag('TOMdds00428.jpg', :width => "80%") %>
                </div>
            </div>
        </div>
    </div>
</div>